.each-champion-static-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.each-champion-static-label {
  width: 300px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.each-champion-static-divk7f3uw7 {
  gap: 0.3100004196166992px;
  top: 4px;
  left: 56px;
  width: 80px;
  height: 32px;
  display: flex;
  padding: 2.380000114440918px 0 2.309999465942383px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.each-champion-static-spanbuiiz70 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.each-champion-static-text {
  color: rgba(249, 249, 249, 1);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: 14.315999984741211px;
  font-stretch: normal;
  text-decoration: none;
  margin-bottom:5px;
}
.each-champion-static-spanbuiiz701 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.each-champion-static-text02 {
  color: rgba(153, 153, 153, 1);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 11.930000305175781px;
  font-stretch: normal;
  text-decoration: none;
}
.each-champion-static-divk7f3uw11 {
  top: 4px;
  left: 136px;
  width: 150px;
  height: 32px;
  display: flex;
  padding: 8.25px 0 7.75px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.each-champion-static-spank7f3uw12 {
  width: 45px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.each-champion-static-text04 {
  color: rgba(249, 249, 249, 1);
  height: auto;
  font-size: 13px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: 15.508999824523926px;
  font-stretch: normal;
  text-decoration: none;
}
.each-champion-static-spank7f3uw121 {
  width: 35px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.each-champion-static-text06 {
  color: rgba(249, 249, 249, 1);
  height: auto;
  font-size: 13px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: 15.508999824523926px;
  font-stretch: normal;
  text-decoration: none;
}
.each-champion-static-spank7f3uw122 {
  width: 35px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.each-champion-static-text08 {
  color: rgba(249, 249, 249, 1);
  height: auto;
  font-size: 13px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: 15.508999824523926px;
  font-stretch: normal;
  text-decoration: none;
}
.each-champion-static-divk7f3uw1 {
  top: 4px;
  left: 14px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.each-champion-static-divsc1xwhuw10 {
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 2px;
}
.each-champion-static-varuspng {
  top: -3.200000047683716px;
  left: -3.200000047683716px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.each-champion-static-svg {
  top: 18px;
  left: 18px;
  width: 14px;
  height: 14px;
  z-index: 1;
  position: absolute;
}










