.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.home-container1 {
  height: 996px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  background: url('external/background-home.png')
}
.home-header-margin {
  flex: 0 0 auto;
  width: 1937px;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home-search-wrapper {
  width: 1937px;
  height: 680px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-home-background {
  top: 56px;
  left: 0px;
  right: 0px;
  width: 456px;
  height: 300px;
  margin: auto;
  position: absolute;
}
.home-search-form {
  gap: 24px;
  top: 326px;
  left: 0px;
  right: 0px;
  width: 800px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-form {
  width: 800px;
  height: 60px;
  display: flex;
  position: relative;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1899999976158142) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.home-button {
  top: 0px;
  left: 722px;
  width: 78px;
  height: 60px;
  display: flex;
  padding: 20.549999237060547px 24px 20.55000114440918px 12px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-ggsvg {
  width: 42px;
  height: 19px;
}
.home-div {
  gap: 4.770000457763672px;
  top: 10px;
  left: 0px;
  width: 690px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text {
  color: rgb(32, 45, 55);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.home-input {
  display: flex;
  padding: 2px 0;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.home-divplaceholder {
  display: flex;
  padding: 0 366px 0 0;
  overflow: hidden;
  align-items: flex-start;
}
.home-text1 {
  color: rgba(154, 164, 175, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
