.match-list-item-component-item {
  gap: 5px;
  width: 707px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 5px;
  border-color: #BE3455;
  border-style: solid;
  border-width: 0 0 0 6px;
  padding-left: 3px 8px 3px 12px;
  border-radius: 4px;
  padding-right: 3px 8px 3px 12px;
  padding-bottom: 5px;
  background-color: #2e2e2e;
}
.match-list-item-component-divgamecontent {
  gap: 2.5px;
  display: flex;
  padding: 3px 8px 3px 12px;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  background-color: #be3455;
}
.match-list-item-component-divgame {
  width: 108px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.match-list-item-component-divtype {
  display: flex;
  padding: 0 35px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-div {
  display: flex;
  padding: 0 43px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text02 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divbarmargin {
  display: flex;
  padding: 8px 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-divbar {
  width: 48px;
  height: 1px;
}
.match-list-item-component-divresult {
  display: flex;
  padding: 0 69px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text04 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divlength {
  display: flex;
  padding: 0 30px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text06 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divinfo {
  gap: 8px;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.match-list-item-component-div1 {
  display: flex;
  align-items: flex-start;
}
.match-list-item-component-divchampion {
  display: flex;
  padding: 1.5px 0;
  align-items: center;
}
.match-list-item-component-link {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-ahripng {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.match-list-item-component-spanchampionlevel {
  width: 20px;
  height: 20px;
  display: flex;
  padding: 3px 3.119999885559082px 4px 3.880000114440918px;
  z-index: 1;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(32, 45, 55, 1);
}
.match-list-item-component-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divspellsmargin {
  display: flex;
  padding: 0 0 0 4px;
  align-items: flex-start;
}
.match-list-item-component-divkdamargin {
  width: 131px;
  display: flex;
  padding: 0 0 0 12px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.match-list-item-component-divkda {
  display: flex;
  padding: 5.5px 12px 6.5px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.match-list-item-component-divkda1 {
  display: flex;
  padding: 0 10px 1px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text10 {
  color: rgba(32, 45, 55, 1);
  height: auto;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-text11 {
  color: rgba(32, 45, 55, 1);
  font-weight: 700;
}
.match-list-item-component-text12 {
  color: rgba(154, 164, 175, 1);
  font-weight: 400;
}
.match-list-item-component-text13 {
  color: rgba(211, 26, 69, 1);
  font-weight: 700;
}
.match-list-item-component-text14 {
  color: rgba(154, 164, 175, 1);
  font-weight: 400;
}
.match-list-item-component-divratio {
  display: flex;
  padding: 0 47px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text15 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divstats {
  width: 148px;
  height: 51px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-pseudo {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 51px;
  position: absolute;
}
.match-list-item-component-div3 {
  top: 26px;
  left: 8px;
  width: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.match-list-item-component-text21 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-div4 {
  top: 38px;
  left: 8px;
  width: 34px;
  display: flex;
  padding: 0 2.25px 0 0;
  position: absolute;
  align-items: flex-start;
}
.match-list-item-component-text23 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 11px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-div5 {
  display: flex;
  padding: 0 158.47000122070312px 0 0;
  align-items: center;
}
.match-list-item-component-divitems {
  gap: 2px;
  display: flex;
  padding: 0 4px 0 0;
  align-items: flex-start;
}
.match-list-item-component-list {
  display: flex;
  align-items: flex-start;
}
.match-list-item-component-item01 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
}
.match-list-item-component-image3089png {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.match-list-item-component-divward {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 11px;
  background-color: rgba(179, 205, 255, 1);
}
.match-list-item-component-image3340png {
  width: 22px;
  height: 22px;
  border-radius: 11px;
}
.match-list-item-component-divparticipants {
  gap: 8px;
  width: 260px;
  display: flex;
  align-items: flex-start;
}
.match-list-item-component-list1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.match-list-item-component-item12 {
  gap: 4px;
  width: 140px;
  height: 18px;
  display: flex;
  padding: 0.5px 8px 0.5px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-shenpng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link06 {
  display: flex;
  padding: 0 2px 2px 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text37 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.match-list-item-component-root-class-name6 {
  margin-top: 5px;
  margin-right: 5px;
}
