.match-list-item-component-item {
  gap: 5px;
  width: 752px;
  height: auto;
  display: flex;
  padding: 0 0 0 6px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 131, 232, 1);
  border-style: solid;
  border-width: 0 0 0 6px;
  border-radius: 4px;
  background-color: rgba(236, 242, 255, 1);
}
.match-list-item-component-divgamecontent {
  gap: 2.5px;
  display: flex;
  padding: 3px 8px 3px 12px;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.match-list-item-component-divgame {
  width: 108px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.match-list-item-component-divtype {
  display: flex;
  padding: 0 35px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text {
  color: rgba(65, 113, 214, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-div {
  display: flex;
  padding: 0 43px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text02 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divbarmargin {
  display: flex;
  padding: 8px 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-divbar {
  width: 48px;
  height: 1px;
}
.match-list-item-component-divresult {
  display: flex;
  padding: 0 69px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text04 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divlength {
  display: flex;
  padding: 0 61px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text06 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divinfo {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.match-list-item-component-div1 {
  display: flex;
  align-items: flex-start;
}
.match-list-item-component-divchampion {
  display: flex;
  padding: 1.5px 0;
  align-items: center;
}
.match-list-item-component-link {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-ahripng {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.match-list-item-component-spanchampionlevel {
  width: 20px;
  height: 20px;
  display: flex;
  padding: 3px 3.119999885559082px 4px 3.880000114440918px;
  z-index: 1;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(32, 45, 55, 1);
}
.match-list-item-component-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divspellsmargin {
  display: flex;
  padding: 0 0 0 4px;
  align-items: flex-start;
}
.match-list-item-component-divspells {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.match-list-item-component-summoner-teleportpng {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.match-list-item-component-summoner-flashpng {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.match-list-item-component-divrunesmargin {
  display: flex;
  padding: 0 0 0 2px;
  align-items: flex-start;
}
.match-list-item-component-divrunes {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.match-list-item-component-divrune {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 1);
}
.match-list-item-component-image8112png {
  width: 22px;
  height: 22px;
  border-radius: 11px;
}
.match-list-item-component-image8200png {
  width: 22px;
  height: 22px;
  border-radius: 11px;
}
.match-list-item-component-divkdamargin {
  width: 131px;
  display: flex;
  padding: 0 0 0 12px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.match-list-item-component-divkda {
  display: flex;
  padding: 5.5px 12px 6.5px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.match-list-item-component-divkda1 {
  display: flex;
  padding: 0 53px 1px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text10 {
  color: rgba(32, 45, 55, 1);
  height: auto;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-text11 {
  color: rgba(32, 45, 55, 1);
  font-weight: 700;
}
.match-list-item-component-text12 {
  color: rgba(154, 164, 175, 1);
  font-weight: 400;
}
.match-list-item-component-text13 {
  color: rgba(211, 26, 69, 1);
  font-weight: 700;
}
.match-list-item-component-text14 {
  color: rgba(154, 164, 175, 1);
  font-weight: 400;
}
.match-list-item-component-divratio {
  display: flex;
  padding: 0 47px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-text15 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divstats {
  width: 148px;
  height: 51px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-pseudo {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 51px;
  position: absolute;
}
.match-list-item-component-div2 {
  top: 0px;
  left: 8px;
  width: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.match-list-item-component-text17 {
  color: rgba(211, 26, 69, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-text19 {
  top: 13px;
  left: 8px;
  color: rgba(117, 133, 146, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-div3 {
  top: 26px;
  left: 8px;
  width: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.match-list-item-component-text21 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-div4 {
  top: 38px;
  left: 8px;
  width: 34px;
  display: flex;
  padding: 0 2.25px 0 0;
  position: absolute;
  align-items: flex-start;
}
.match-list-item-component-text23 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 11px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-div5 {
  display: flex;
  padding: 0 158.47000122070312px 0 0;
  align-items: center;
}
.match-list-item-component-divitems {
  gap: 2px;
  display: flex;
  padding: 0 4px 0 0;
  align-items: flex-start;
}
.match-list-item-component-list {
  display: flex;
  align-items: flex-start;
}
.match-list-item-component-item01 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(179, 205, 255, 1);
}
.match-list-item-component-image3089png {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.match-list-item-component-itemmargin {
  display: flex;
  padding: 0 0 0 2px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-item02 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(179, 205, 255, 1);
}
.match-list-item-component-image3020png {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.match-list-item-component-itemmargin1 {
  display: flex;
  padding: 0 0 0 2px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-item03 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(179, 205, 255, 1);
}
.match-list-item-component-image6656png {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.match-list-item-component-itemmargin2 {
  display: flex;
  padding: 0 0 0 2px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-item04 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(179, 205, 255, 1);
}
.match-list-item-component-image4645png {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.match-list-item-component-itemmargin3 {
  display: flex;
  padding: 0 0 0 2px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-item05 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(179, 205, 255, 1);
}
.match-list-item-component-image1052png {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.match-list-item-component-itemmargin4 {
  display: flex;
  padding: 0 0 0 2px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.match-list-item-component-item06 {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.match-list-item-component-divward {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 11px;
  background-color: rgba(179, 205, 255, 1);
}
.match-list-item-component-image3340png {
  width: 22px;
  height: 22px;
  border-radius: 11px;
}
.match-list-item-component-button {
  display: flex;
  padding: 0 0 0 4px;
  position: relative;
  align-items: flex-start;
}
.match-list-item-component-divbadge {
  width: 44.529998779296875px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 9px;
  background-color: rgba(235, 156, 0, 1);
}
.match-list-item-component-text25 {
  top: 1px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  width: 29px;
  height: auto;
  position: absolute;
  font-size: 13.33329963684082px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divparticipants {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.match-list-item-component-list1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.match-list-item-component-item07 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 1px 8px 1px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-akalipng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link01 {
  display: flex;
  padding: 0 1px 0 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text27 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-item08 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 0.5px 8px 0.5px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-rammuspng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link02 {
  display: flex;
  padding: 0 2px 2px 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text29 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-item09 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 0.5px 8px 0.5px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-dianapng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link03 {
  display: flex;
  padding: 0 2px 2px 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text31 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-item10 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 0.5px 8px 0.5px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-ashepng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link04 {
  display: flex;
  padding: 0 5px 2px 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text33 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-item11 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 0.5px 8px 0.5px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-lulupng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link05 {
  display: flex;
  padding: 0 5px 2px 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text35 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-list2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.match-list-item-component-item12 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 0.5px 8px 0.5px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-shenpng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link06 {
  display: flex;
  padding: 0 2px 2px 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text37 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-item13 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 1px 8px 1px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-master-yipng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link07 {
  display: flex;
  padding: 0 2px 0 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text39 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-item14 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 0.5px 32px 0.5px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-ahripng1 {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
.match-list-item-component-link08 {
  display: flex;
  padding: 0 2px 2px 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text41 {
  color: rgba(32, 45, 55, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-item15 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 0.5px 26.049999237060547px 0.5px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-zeripng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link09 {
  display: flex;
  padding: 0 1.9500007629394531px 2px 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text43 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-item16 {
  gap: 4px;
  width: 88px;
  height: 18px;
  display: flex;
  padding: 0.5px 8px 0.5px 0;
  align-items: center;
  flex-shrink: 0;
}
.match-list-item-component-leonapng {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.match-list-item-component-link10 {
  display: flex;
  padding: 0 5px 2px 0;
  overflow: hidden;
  align-items: flex-start;
}
.match-list-item-component-text45 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.match-list-item-component-divaction {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0 4px 4px 0;
}
.match-list-item-component-button1 {
  width: 40px;
  height: 96px;
}
.match-list-item-component-iconarrowdownbluesvg {
  top: 64px;
  left: 8px;
  width: 24px;
  height: 24px;
  z-index: 1;
  position: absolute;
}











