.most-champion-list-component-most-champion-component {
  position: relative;
  align-self: flex-start;
}
.most-champion-list-component-list {
  gap: 4px;
  display: flex;
  padding: 4px 4.0099945068359375px 5px 4px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: rgba(235, 238, 241, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.most-champion-item-selected {
  display: flex;
  padding: 6px 22.110002517700195px 6px 22.219999313354492px;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(236, 242, 255, 1);
}
.most-champion-text-selected {
  color: rgba(65, 113, 214, 1);
  height: auto;
  font-size: 14px;
  align-self: flex-start;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.most-champion-item {
  display: flex;
  padding: 6px 14.360001564025879px 6px 12.970000267028809px;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.most-champion-text {
  color: rgba(32, 45, 55, 1);
  height: auto;
  font-size: 14px;
  align-self: flex-start;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.most-champion-list-component-item2 {
  display: flex;
  padding: 6px 15.270001411437988px 6px 14.0600004196167px;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.most-champion-list-component-text4 {
  color: rgba(32, 45, 55, 1);
  height: auto;
  font-size: 14px;
  align-self: flex-start;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.most-champion-list-component-div {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.most-champion-list-component-link {
  gap: -1.0400009155273438px;
  display: flex;
  padding: 8px 84.02000427246094px 8px 84.0199966430664px;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 247, 249, 1);
}
.most-champion-list-component-text6 {
  color: rgba(117, 133, 146, 1);
  height: auto;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.most-champion-list-component-iconarrowrightsvg {
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
