.most-champion-list-component-most-champion-component {
  position: relative;
  align-self: flex-start;
}
.most-champion-list-component-list {
  gap: 4px;
  display: flex;
  padding: 4px 4.0099945068359375px 5px 4px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: rgba(235, 238, 241, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.most-champion-nav-item-selected {
  display: flex;
  padding: 6px 20px 6px 20px;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(236, 242, 255, 1);
}
.most-champion-nav-text-selected {
  color: rgba(65, 113, 214, 1);
  height: auto;
  font-size: 14px;
  align-self: flex-start;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.most-champion-nav-item {
  display: flex;
  padding: 6px 20px 6px 20px;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.most-champion-nav-text {
  color: rgba(32, 45, 55, 1);
  height: auto;
  font-size: 14px;
  align-self: flex-start;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.most-champion-list-component-div {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
